*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}





body {
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
}

.container {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:minmax(120px, auto) repeat(7,100px);
  
    
}

.container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(4, 38, 37);
    outline: none;
    background-color: black;
    color: rgb(28, 215, 208);
    margin: 12px;
    border-radius: 18px;
}

.container > button:hover {
    background-color: rgb(11, 66, 58);
    
}

.calculator {
    grid-column: span 2 ;
    color: aqua;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 380px;
    font-size: 35px;
    
    
}

.output {
    grid-column: 1/ -1;
    background-color: rgb(30, 29, 29);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .Previous-calc {
    color:rgb(4, 38, 37);
    font-size: 1.5rem;
}

.output .Current-calc {
    color:rgb(21, 192, 186);
    font-size: 1.5rem;
}

.equal {
    align-items: center;
    grid-column: span 3;
    height: 50px;
    background-color: darkgreen !important;
    color: black !important

    
    
}

@media only screen and (max-width:350px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1);
        grid-template-rows: none;
        
    }
}

.red {
    background-color: red !important;
    color: black !important;
}

h1 {
    color: aqua;
    font-weight: bold;
}

.add {
    background-color: yellow !important;
    color: black !important;
}

.subtract {
    background-color: yellow !important;
    color: black !important;
}


.multiply {
    background-color: yellow  !important;
    color: black !important;
}

.point {
    background-color: yellow !important;
    color: black !important;
}

.divide {
    background-color: yellow !important;
    color: black !important;
}